<ESRI.Configuration xmlns="http://schemas.esri.com/Desktop/AddIns" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"><Name>Idaho Geological Survey GeMS Toolbar</Name><AddInID>{49a04073-4197-4103-8853-51480470d3ad}</AddInID><Description>Addin Interface for GeMS Toolbar</Description><Version>0.1</Version><Image>Images\igs-logo-blue.png</Image><Author>Skye Swoboda-Colberg</Author><Company>Idaho Geological Survey</Company><Date>05/03/2021</Date><Targets><Target name="Desktop" version="10.1" /></Targets><AddIn language="PYTHON" library="Esri_Addin_addin.py" namespace="Esri_Addin_addin"><ArcMap>
    <Commands>
        <Button caption="Create New Database" category="Idaho Geological Survey GeMS Toolbar" class="ButtonClassCreateNewDatabase" id="Esri_Addin_addin.buttonCreateNewDatabase" image="" message="" tip=""><Help heading="" /></Button>
        <Button caption="Compact and Backup" category="Idaho Geological Survey GeMS Toolbar" class="ButtonClassCompactBackup" id="Esri_Addin_addin.buttonCompactBackup" image="" message="" tip=""><Help heading="" /></Button>
        <Button caption="Fix Strings" category="Idaho Geological Survey GeMS Toolbar" class="ButtonClassFixStrings" id="Esri_Addin_addin.buttonFixStrings" image="" message="" tip=""><Help heading="" /></Button>
        <Button caption="Relationship Classes" category="Idaho Geological Survey GeMS Toolbar" class="ButtonClassRelationshipClasses" id="Esri_Addin_addin.buttonRelationshipClasses" image="" message="" tip=""><Help heading="" /></Button>
        <Button caption="Translate To Shapefiles" category="Idaho Geological Survey GeMS Toolbar" class="ButtonClassTranslateToShapefiles" id="Esri_Addin_addin.buttonTranslateToShapefiles" image="" message="" tip=""><Help heading="" /></Button>
        <Button caption="Validate Database" category="Idaho Geological Survey GeMS Toolbar" class="ButtonClassValidateDatabase" id="Esri_Addin_addin.buttonValidateDatabase" image="" message="" tip=""><Help heading="" /></Button>
        <Button caption="Purge Metadata" category="Idaho Geological Survey GeMS Toolbar" class="ButtonClassPurgeMetadata" id="Esri_Addin_addin.buttonPurgeMetadata" image="" message="" tip=""><Help heading="" /></Button>
        <Button caption="Project Map Data to Cross Section" category="Idaho Geological Survey GeMS Toolbar" class="ButtonClassProjectMapData" id="Esri_Addin_addin.buttonProjectMapData" image="" message="" tip=""><Help heading="" /></Button>
        <Button caption="Project Points to Cross Section" category="Idaho Geological Survey GeMS Toolbar" class="ButtonClassProjectPoints" id="Esri_Addin_addin.buttonProjectPoints" image="" message="" tip=""><Help heading="" /></Button>
        <Button caption=".docx to DMU" category="Idaho Geological Survey GeMS Toolbar" class="ButtonClassDocxDMU" id="Esri_Addin_addin.buttonDocxToDMU" image="" message="" tip=""><Help heading="" /></Button>
        <Button caption="Atttribute By Key Value" category="Idaho Geological Survey GeMS Toolbar" class="ButtonClassAtttributeByKeyValue" id="Esri_Addin_addin.buttonAtttributeByKeyValue" image="" message="" tip=""><Help heading="" /></Button>
        <Button caption="Deplanarize CAF" category="Idaho Geological Survey GeMS Toolbar" class="ButtonClassDeplanarizeCAF" id="Esri_Addin_addin.buttonDeplanarizeCAF" image="" message="" tip=""><Help heading="" /></Button>
        <Button caption="DMU to .docx" category="Idaho Geological Survey GeMS Toolbar" class="ButtonClassDMUDocx" id="Esri_Addin_addin.buttonDMUDocx" image="" message="" tip=""><Help heading="" /></Button>
        <Button caption="Geologic Names Check" category="Idaho Geological Survey GeMS Toolbar" class="ButtonClassGeologicNamesCheck" id="Esri_Addin_addin.buttonGeologicNamesCheck" image="" message="" tip=""><Help heading="" /></Button>
        <Button caption="Inclination Numbers" category="Idaho Geological Survey GeMS Toolbar" class="ButtonClassInclinationNumbers" id="Esri_Addin_addin.buttonInclinationNumbers" image="" message="" tip=""><Help heading="" /></Button>
        <Button caption="Set ID values" category="Idaho Geological Survey GeMS Toolbar" class="ButtonClassSetIDvalues" id="Esri_Addin_addin.buttonSetIDvalues" image="" message="" tip=""><Help heading="" /></Button>
        <Button caption="Set Plot At Scale Values" category="Idaho Geological Survey GeMS Toolbar" class="ButtonClassSetPlotAtScaleValues" id="Esri_Addin_addin.buttonSetPlotAtScaleValues" image="" message="" tip=""><Help heading="" /></Button>
        <Button caption="Set Symbol Values" category="Idaho Geological Survey GeMS Toolbar" class="ButtonClassSetSymbolValues" id="Esri_Addin_addin.buttonSetSymbolValues" image="" message="" tip=""><Help heading="" /></Button>
        <Button caption="Symbol to RGB" category="Idaho Geological Survey GeMS Toolbar" class="ButtonClassSymbolToRGB" id="Esri_Addin_addin.buttonSymbolToRGB" image="" message="" tip=""><Help heading="" /></Button>
        <Button caption="Make Polygons" category="Idaho Geological Survey GeMS Toolbar" class="ButtonClassMakePolygons" id="Esri_Addin_addin.buttonMakePolygons" image="" message="" tip=""><Help heading="" /></Button>
        <Button caption="Make Topology" category="Idaho Geological Survey GeMS Toolbar" class="ButtonClassMakeTopology" id="Esri_Addin_addin.buttonMakeTopology" image="" message="" tip=""><Help heading="" /></Button>
        <Button caption="Map Outline" category="Idaho Geological Survey GeMS Toolbar" class="ButtonClassMapOutline" id="Esri_Addin_addin.buttonMapOutline" image="" message="" tip=""><Help heading="" /></Button>
        <Button caption="Topology Check" category="Idaho Geological Survey GeMS Toolbar" class="ButtonClassTopologyCheck" id="Esri_Addin_addin.buttonTopologyCheck" image="" message="" tip=""><Help heading="" /></Button>
        <Button caption="Step 1" category="Idaho Geological Survey GeMS Toolbar" class="ButtonClassFGDC1" id="Esri_Addin_addin.buttonFGDC1" image="" message="" tip=""><Help heading="" /></Button>
        <Button caption="Step 2" category="Idaho Geological Survey GeMS Toolbar" class="ButtonClassFGDC2" id="Esri_Addin_addin.buttonFGDC2" image="" message="" tip=""><Help heading="" /></Button>
        <Button caption="Step 3" category="Idaho Geological Survey GeMS Toolbar" class="ButtonClassFGDC3" id="Esri_Addin_addin.buttonFGDC3" image="" message="" tip=""><Help heading="" /></Button>
        </Commands>
    <Extensions>
        </Extensions>
    <Toolbars>
        <Toolbar caption="IGS GeMS Toolbar" category="Idaho Geological Survey GeMS Toolbar" id="Esri_Addin_addin.toolbar" showInitially="true"><Items><Menu refID="Esri_Addin_addin.menu.DatabaseTools" /><Menu refID="Esri_Addin_addin.menu.CrossSectionTools" /><Menu refID="Esri_Addin_addin.menu.ConversionTools" /><Menu refID="Esri_Addin_addin.menu.DigitizationTools" /><Menu refID="Esri_Addin_addin.menuFGDC" /></Items></Toolbar>
        </Toolbars>
    <Menus>
        <Menu caption="Database Tools" category="Idaho Geological Survey GeMS Toolbar" id="Esri_Addin_addin.menu.DatabaseTools" isRootMenu="false" isShortcutMenu="false" separator="false"><Items><Button refID="Esri_Addin_addin.buttonCreateNewDatabase" /><Button refID="Esri_Addin_addin.buttonCompactBackup" /><Button refID="Esri_Addin_addin.buttonFixStrings" /><Button refID="Esri_Addin_addin.buttonRelationshipClasses" /><Button refID="Esri_Addin_addin.buttonTranslateToShapefiles" /><Button refID="Esri_Addin_addin.buttonValidateDatabase" /><Button refID="Esri_Addin_addin.buttonPurgeMetadata" /></Items></Menu>
        <Menu caption="Cross Section Tools" category="Idaho Geological Survey GeMS Toolbar" id="Esri_Addin_addin.menu.CrossSectionTools" isRootMenu="false" isShortcutMenu="false" separator="false"><Items><Button refID="Esri_Addin_addin.buttonProjectMapData" /><Button refID="Esri_Addin_addin.buttonProjectPoints" /></Items></Menu>
        <Menu caption="Conversion Tools" category="Idaho Geological Survey GeMS Toolbar" id="Esri_Addin_addin.menu.ConversionTools" isRootMenu="false" isShortcutMenu="false" separator="false"><Items><Button refID="Esri_Addin_addin.buttonDocxToDMU" /><Button refID="Esri_Addin_addin.buttonAtttributeByKeyValue" /><Button refID="Esri_Addin_addin.buttonDeplanarizeCAF" /><Button refID="Esri_Addin_addin.buttonDMUDocx" /><Button refID="Esri_Addin_addin.buttonGeologicNamesCheck" /><Button refID="Esri_Addin_addin.buttonInclinationNumbers" /><Button refID="Esri_Addin_addin.buttonSetIDvalues" /><Button refID="Esri_Addin_addin.buttonSetPlotAtScaleValues" /><Button refID="Esri_Addin_addin.buttonSetSymbolValues" /><Button refID="Esri_Addin_addin.buttonSymbolToRGB" /></Items></Menu>
        <Menu caption="Digitization Tools" category="Idaho Geological Survey GeMS Toolbar" id="Esri_Addin_addin.menu.DigitizationTools" isRootMenu="false" isShortcutMenu="false" separator="false"><Items><Button refID="Esri_Addin_addin.buttonMakePolygons" /><Button refID="Esri_Addin_addin.buttonMakeTopology" /><Button refID="Esri_Addin_addin.buttonMapOutline" /><Button refID="Esri_Addin_addin.buttonTopologyCheck" /></Items></Menu>
        <Menu caption="FGDC Metadata" category="Idaho Geological Survey GeMS Toolbar" id="Esri_Addin_addin.menuFGDC" isRootMenu="false" isShortcutMenu="false" separator="false"><Items><Button refID="Esri_Addin_addin.buttonFGDC1" /><Button refID="Esri_Addin_addin.buttonFGDC2" /><Button refID="Esri_Addin_addin.buttonFGDC3" /></Items></Menu>
        </Menus>
    </ArcMap></AddIn></ESRI.Configuration>