<ESRI.Configuration xmlns="http://schemas.esri.com/Desktop/AddIns" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"><Name>Idaho Geological Survey GeMS Toolbar</Name><AddInID>{49a04073-4197-4103-8853-51480470d3ad}</AddInID><Description>Addin Interface for GeMS Toolbar</Description><Version>0.1</Version><Image>Images\igs-logo-blue.png</Image><Author>Skye Swoboda-Colberg</Author><Company>Idaho Geological Survey</Company><Date>03/31/2021</Date><Targets><Target name="Desktop" version="10.1" /></Targets><AddIn language="PYTHON" library="Esri_Addin_addin.py" namespace="Esri_Addin_addin"><ArcMap>
    <Commands>
        <Button caption="Create New Database" category="Idaho Geological Survey GeMS Toolbar" class="ButtonClassCreateNewDatabase" id="Esri_Addin_addin.button.CreateNewDatabase" image="" message="" tip=""><Help heading="" /></Button>
        <Button caption="Compact and Backup" category="Idaho Geological Survey GeMS Toolbar" class="ButtonClassCompactBackup" id="Esri_Addin_addin.button.CompactBackup" image="" message="" tip=""><Help heading="" /></Button>
        <Button caption="Fix Strings" category="Idaho Geological Survey GeMS Toolbar" class="ButtonClassFixStrings" id="Esri_Addin_addin.button.FixStrings" image="" message="" tip=""><Help heading="" /></Button>
        <Button caption="Relationship Classes" category="Idaho Geological Survey GeMS Toolbar" class="ButtonClassRelationshipClasses" id="Esri_Addin_addin.button.RelationshipClasses" image="" message="" tip=""><Help heading="" /></Button>
        <Button caption="Translate To Shapefiles" category="Idaho Geological Survey GeMS Toolbar" class="ButtonClassTranslateToShapefiles" id="Esri_Addin_addin.button.TranslateToShapefiles" image="" message="" tip=""><Help heading="" /></Button>
        <Button caption="Validate Database" category="Idaho Geological Survey GeMS Toolbar" class="ButtonClassValidateDatabase" id="Esri_Addin_addin.button.ValidateDatabase" image="" message="" tip=""><Help heading="" /></Button>
        <Button caption="Purge Metadata" category="Idaho Geological Survey GeMS Toolbar" class="ButtonClassPurgeMetadata" id="Esri_Addin_addin.button.PurgeMetadata" image="" message="" tip=""><Help heading="" /></Button>
        <Button caption="Project Map Data to Cross Section" category="Idaho Geological Survey GeMS Toolbar" class="ButtonClassProjectMapData" id="Esri_Addin_addin.button.ProjectMapData" image="" message="" tip=""><Help heading="" /></Button>
        <Button caption="Project Points to Cross Section" category="Idaho Geological Survey GeMS Toolbar" class="ButtonClassProjectPoints" id="Esri_Addin_addin.button.ProjectPoints" image="" message="" tip=""><Help heading="" /></Button>
        <Button caption=".docx to DMU" category="Idaho Geological Survey GeMS Toolbar" class="ButtonClassDocxDMU" id="Esri_Addin_addin.button.DocxToDMU" image="" message="" tip=""><Help heading="" /></Button>
        <Button caption="Atttribute By Key Value" category="Idaho Geological Survey GeMS Toolbar" class="ButtonClassAtttributeByKeyValue" id="Esri_Addin_addin.button.AtttributeByKeyValue" image="" message="" tip=""><Help heading="" /></Button>
        <Button caption="Deplanarize CAF" category="Idaho Geological Survey GeMS Toolbar" class="ButtonClassDeplanarizeCAF" id="Esri_Addin_addin.button.DeplanarizeCAF" image="" message="" tip=""><Help heading="" /></Button>
        <Button caption="DMU to .docx" category="Idaho Geological Survey GeMS Toolbar" class="ButtonClassDMUDocx" id="Esri_Addin_addin.button.DMUDocx" image="" message="" tip=""><Help heading="" /></Button>
        <Button caption="Geologic Names Check" category="Idaho Geological Survey GeMS Toolbar" class="ButtonClassGeologicNamesCheck" id="Esri_Addin_addin.button.GeologicNamesCheck" image="" message="" tip=""><Help heading="" /></Button>
        <Button caption="Inclination Numbers" category="Idaho Geological Survey GeMS Toolbar" class="ButtonClassInclinationNumbers" id="Esri_Addin_addin.button.InclinationNumbers" image="" message="" tip=""><Help heading="" /></Button>
        <Button caption="Set ID values" category="Idaho Geological Survey GeMS Toolbar" class="ButtonClassSetIDvalues" id="Esri_Addin_addin.button.SetIDvalues" image="" message="" tip=""><Help heading="" /></Button>
        <Button caption="Set Plot At Scale Values" category="Idaho Geological Survey GeMS Toolbar" class="ButtonClassSetPlotAtScaleValues" id="Esri_Addin_addin.button.SetPlotAtScaleValues" image="" message="" tip=""><Help heading="" /></Button>
        <Button caption="Set Symbol Values" category="Idaho Geological Survey GeMS Toolbar" class="ButtonClassSetSymbolValues" id="Esri_Addin_addin.button.SetSymbolValues" image="" message="" tip=""><Help heading="" /></Button>
        <Button caption="Symbol to RGB" category="Idaho Geological Survey GeMS Toolbar" class="ButtonClassSymbolToRGB" id="Esri_Addin_addin.button.SymbolToRGB" image="" message="" tip=""><Help heading="" /></Button>
        <Tool caption="Step 1" category="Idaho Geological Survey GeMS Toolbar" class="ToolClassFGDC1" id="Esri_Addin_addin.tool.FGDC1" image="" message="" tip=""><Help heading="" /></Tool>
        <Tool caption="Step 2" category="Idaho Geological Survey GeMS Toolbar" class="ToolClassFGDC2" id="Esri_Addin_addin.tool.FGDC2" image="" message="" tip=""><Help heading="" /></Tool>
        <Tool caption="Step 3" category="Idaho Geological Survey GeMS Toolbar" class="ToolClassFGDC3" id="Esri_Addin_addin.tool.FGDC3" image="" message="" tip=""><Help heading="" /></Tool>
        <ToolPalette canTearOff="false" category="Idaho Geological Survey GeMS Toolbar" columns="3" id="Esri_Addin_addin.toolpalette.FGDCMetadata" isMenuStyle="true"><Items><Tool refID="Esri_Addin_addin.tool.FGDC1" /><Tool refID="Esri_Addin_addin.tool.FGDC2" /><Tool refID="Esri_Addin_addin.tool.FGDC3" /></Items></ToolPalette>
        <Button caption="Make Polygons" category="Idaho Geological Survey GeMS Toolbar" class="ButtonClassMakePolygons" id="Esri_Addin_addin.button.MakePolygons" image="" message="" tip=""><Help heading="" /></Button>
        <Button caption="Make Topology" category="Idaho Geological Survey GeMS Toolbar" class="ButtonClassMakeTopology" id="Esri_Addin_addin.button.MakeTopology" image="" message="" tip=""><Help heading="" /></Button>
        <Button caption="Map Outline" category="Idaho Geological Survey GeMS Toolbar" class="ButtonClassMapOutline" id="Esri_Addin_addin.button.MapOutline" image="" message="" tip=""><Help heading="" /></Button>
        <Button caption="Topology Check" category="Idaho Geological Survey GeMS Toolbar" class="ButtonClassTopologyCheck" id="Esri_Addin_addin.button.TopologyCheck" image="" message="" tip=""><Help heading="" /></Button>
        </Commands>
    <Extensions>
        </Extensions>
    <Toolbars>
        <Toolbar caption="IGS GeMS Toolbar" category="Idaho Geological Survey GeMS Toolbar" id="Esri_Addin_addin.toolbar" showInitially="true"><Items><Menu refID="Esri_Addin_addin.menu.DatabaseTools" /><Menu refID="Esri_Addin_addin.menu.CrossSectionTools" /><Menu refID="Esri_Addin_addin.menu.ConversionTools" /><ToolPalette refID="Esri_Addin_addin.toolpalette.FGDCMetadata" /><Menu refID="Esri_Addin_addin.menu.DigitizationTools" /></Items></Toolbar>
        </Toolbars>
    <Menus>
        <Menu caption="Database Tools" category="Idaho Geological Survey GeMS Toolbar" id="Esri_Addin_addin.menu.DatabaseTools" isRootMenu="false" isShortcutMenu="false" separator="false"><Items><Button refID="Esri_Addin_addin.button.CreateNewDatabase" /><Button refID="Esri_Addin_addin.button.CompactBackup" /><Button refID="Esri_Addin_addin.button.FixStrings" /><Button refID="Esri_Addin_addin.button.RelationshipClasses" /><Button refID="Esri_Addin_addin.button.TranslateToShapefiles" /><Button refID="Esri_Addin_addin.button.ValidateDatabase" /><Button refID="Esri_Addin_addin.button.PurgeMetadata" /></Items></Menu>
        <Menu caption="Cross Section Tools" category="Idaho Geological Survey GeMS Toolbar" id="Esri_Addin_addin.menu.CrossSectionTools" isRootMenu="false" isShortcutMenu="false" separator="false"><Items><Button refID="Esri_Addin_addin.button.ProjectMapData" /><Button refID="Esri_Addin_addin.button.ProjectPoints" /></Items></Menu>
        <Menu caption="Conversion Tools" category="Idaho Geological Survey GeMS Toolbar" id="Esri_Addin_addin.menu.ConversionTools" isRootMenu="false" isShortcutMenu="false" separator="false"><Items><Button refID="Esri_Addin_addin.button.DocxToDMU" /><Button refID="Esri_Addin_addin.button.AtttributeByKeyValue" /><Button refID="Esri_Addin_addin.button.DeplanarizeCAF" /><Button refID="Esri_Addin_addin.button.DMUDocx" /><Button refID="Esri_Addin_addin.button.GeologicNamesCheck" /><Button refID="Esri_Addin_addin.button.InclinationNumbers" /><Button refID="Esri_Addin_addin.button.SetIDvalues" /><Button refID="Esri_Addin_addin.button.SetPlotAtScaleValues" /><Button refID="Esri_Addin_addin.button.SetSymbolValues" /><Button refID="Esri_Addin_addin.button.SymbolToRGB" /></Items></Menu>
        <Menu caption="Digitization Tools" category="Idaho Geological Survey GeMS Toolbar" id="Esri_Addin_addin.menu.DigitizationTools" isRootMenu="false" isShortcutMenu="false" separator="false"><Items><Button refID="Esri_Addin_addin.button.MakePolygons" /><Button refID="Esri_Addin_addin.button.MakeTopology" /><Button refID="Esri_Addin_addin.button.MapOutline" /><Button refID="Esri_Addin_addin.button.TopologyCheck" /></Items></Menu>
        </Menus>
    </ArcMap></AddIn></ESRI.Configuration>